BOT_TOKEN=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=credentials/service-account.json
ADMIN_IDS=
MAIN_CHANNEL_ID=-1002122306517
MAIN_CHANNEL_URL=https://t.me/blackdriveauto
MANAGER_TELEGRAM=@blackdriveauto1
MANAGER_WHATSAPP=wa.me/77085217861
CALC_SHEET_NAME=Казахстан/Алматы
CAR_DB_SHEET_NAME=База авто
REQUESTS_SHEET_NAME=Заявки
HISTORY_SHEET_NAME=История расчетов
CALC_INPUT_BRAND_CELL=B3
CALC_INPUT_MODEL_CELL=B4
CALC_INPUT_YEAR_CELL=B5
CALC_INPUT_ENGINE_CELL=B6
CALC_INPUT_INVOICE_CELL=B8
CALC_INPUT_REAL_PRICE_CELL=B11
KRW_USD_RATE_CELL=E3
DEALER_FEE_KRW=440000
LOGISTICS_USD=1750
UTILIZATION_FEE_CELL=B19
PRIMARY_REGISTRATION_CELL=B20
FINAL_TOTAL_CELL=B24
CUSTOMS_TOTAL_CELL=B18
CALC_OUTPUT_RANGE=A1:Z60
CACHE_TTL_MINUTES=20
